<table mat-table [dataSource]="laps_format" width="40%">

    <ng-container matColumnDef="Pos">
        <th mat-header-cell *matHeaderCellDef>Pos</th>
        <td mat-cell *matCellDef="let lap; let i = index;"> {{i+1}} </td>
    </ng-container>

    <ng-container matColumnDef="Name">
        <th math-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let lap">{{lap.user}}</td>
    </ng-container>

    <ng-container matColumnDef="Best">
        <th math-header-cell *matHeaderCellDef>Best</th>
        <td mat-cell *matCellDef="let lap">{{lap.bestlap}}</td>
    </ng-container>

    <ng-container matColumnDef="Last">
        <th math-header-cell *matHeaderCellDef>Last</th>
        <td mat-cell *matCellDef="let lap">{{lap.lastlap}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>