<mat-toolbar color="primary" style="width: 100%;">
    Live timing
</mat-toolbar>
<mat-drawer-container class="example-container" autosize style="position: absolute; left: 0px; right: 0px; bottom: 0px; top: 56px;">
  <mat-drawer #drawer class="example-sidenav" mode="side" opened autosize> 
    <mat-list>
      <mat-list-item> 
        <button mat-button color="primary" routerLink="b" [routerLinkActive]="['is-active']">Leaderboard</button>
       </mat-list-item>
      <mat-list-item> 
        <button mat-button color="primary" [routerLink]="link_a" [routerLinkActive]="['is-active']">Laptimes</button>
       </mat-list-item>
    </mat-list>
  </mat-drawer>

  <router-outlet>
  </router-outlet>

</mat-drawer-container>